
.hero {
  margin: 0 auto;
  padding: 120px 0px;
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 24px;
  color: var(--text-main);
}

.hero-desc {
  font-size: 1.2rem;
  color: var(--text-muted);
  max-width: 800px;
  margin: 0 auto 36px;
  line-height: 1.6;
}